{% extends "base.html" %}

{% block head %}

<title>Read Book</title>

<style type="text/css">
    .embed-container {
        width: 100%;
        height: 65vh;
        position: relative;
        overflow: hidden;
    }

    .embed-container embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

{% endblock %}

{% block body %}
{% include "navbar2.html" %}

<div class="container mt-4">
    <h2>{{ book.title }}</h2>
    <p>Author: {{ book.author }}</p>
    <div class="embed-container">
        <embed class="" src="{{ url_for('static', filename=book.file_path[7:]) }}#toolbar=0" type="application/pdf" />
    </div>
</div>

{% endblock %}